<div class="body">

  <h2>Falcon Investments Advisor</h2>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mutal Funds
      </mat-panel-title>
      <mat-panel-description>
        <!-- This is a summary of the content -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let tip of tips">
        <div *ngIf="tip.label==='mutual fund'">
            <li>{{tip.info}}</li>
        </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ETFs
        </mat-panel-title>
        <mat-panel-description>
          <!-- This is a summary of the content -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let tip of tips">
          <div *ngIf="tip.label==='etf'">
              <li>{{tip.info}}</li>
          </div>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stock Market
        </mat-panel-title>
        <mat-panel-description>
          <!-- This is a summary of the content -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let tip of tips">
          <div *ngIf="tip.label==='market'">
              <li>{{tip.info}}</li>
          </div>
      </div>
  </mat-expansion-panel>
      
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Certificate of Deposits
        </mat-panel-title>
        <mat-panel-description>
          <!-- This is a summary of the content -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let tip of tips">
          <div *ngIf="tip.label==='cd'">
              <li>{{tip.info}}</li>
          </div>
      </div>
  </mat-expansion-panel>
</div>
