<header>
  <div class="container">
      <h1 class="title">Falcon Investments</h1>
      <div class="navigation-display">
          <div class="navigation">
              <ul>
                  <li><a routerLink="/" (click)="enable_info()">Home</a></li>
                  <li><a routerLink="/login" (click)="disable_info()">Login</a></li>
                  <li><a routerLink="/signup" (click)="disable_info()">Sign Up</a></li>
                  <li><a routerLink="/">About</a></li>
              </ul>
          </div>
      </div>
  </div>
</header>

<body>
  <div *ngIf="showInfo">
    <div class="hero">
        <div class="info">
            <div class="info row1">
                <H1 class="welcome">Welcome Falcon Investments!</H1>
                <p class="description">The key to your financial success</p>
                <br>
                <a routerLink="/signup" (click)="disable_info()">Get Started Today</a>
            </div>
            <div class="info row2">
            </div>
        </div>
    </div>
  
    <hr>
  
    <div class="row-style">
      <h1>Choose your style of investment</h1>
    </div>
    <div class="row-style">
      <div class="col-style">
        <i class="fa fa-certificate"></i>
        <h2>CDs</h2>
      </div>
      <div class="col-style">
        <i class="fa fa-book"></i>
        <h2>ETFs</h2>
      </div>
      <div class="col-style">
        <i class="fa fa-money"></i>
        <h2>Public Stocks</h2>
      </div>
      <div class="col-style">
        <i class="fa fa-dollar"></i>
        <h2>Mutual Funds</h2>
      </div>
    </div>

    <hr>

    <div class="row-secure">
      <div class="col-secure">
        <i class="fa fa-lock"></i>
      </div>
      <div class="col-secure2">
        <h1>Secure transactions</h1>
        <p>Invest knowing that our backend is protected through passwords and encryption. </p>
      </div>
    </div>

    <hr>
  
        
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus maxime accusamus et veniam magnam iusto doloremque dolor ad a rem? Molestias consequatur ea aliquid aut molestiae minus odio atque voluptatum.
    
  </div>
  
</body>

<router-outlet></router-outlet>

<!-- 
  For Deployment on Github pages, only these commands need to be ran:

  ng build --base-href=/personal/ 
  ng deploy --base-href=/personal/

  THIS IS BEACAUSE IT IS SET TO THE GH-PAGES BRANCH
-->