<!-- Navbar -->
<mat-toolbar>
  <mat-toolbar-row>
    <div class="left-bar">
      <img src="../assets/images/falcon-i-green-v2.png" alt="Falcon Logo" routerLink="/home">
      <h1 class="logo" routerLink="home">Falcon Investments</h1>
    </div> 

    <div class="nav">
      <div class="mobile-nav">
        <a mat-button routerLink="/home">Home </a>
        <a mat-button routerLink="/signin">Login </a>
        <a mat-button routerLink="/signup">Create Account </a>
        <a mat-button routerLink="/dashboard">Dashboard </a>
      </div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- SideNav -->

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">
    <mat-nav-list>
      <div class="mobile-link">
        <a mat-list-item routerLink="/signin" class="mobile-link">Login </a>
        <a mat-list-item routerLink="/dashboard" class="mobile-link">Dashboard </a>
        <a mat-list-item routerLink="/signup" class="mobile-link">Create Account </a>
      </div>
      <a mat-list-item routerLink="/stocks"> Stocks </a>
      <a mat-list-item routerLink="/mutualfunds"> Mutual Funds </a>
      <a mat-list-item routerLink="/certificates"> Certificates of Deposit </a>
      <a mat-list-item routerLink="/etfs"> ETFs </a>
      <a mat-list-item> Feedback </a>
      <a mat-list-item routerLink="/retirement"> Retirement Calculator </a>
      <a mat-list-item routerLink="/advisor"> Advisor </a>
      <app-signout-button></app-signout-button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
      <!-- footer -->
      <footer>
        <div class="container">
          <p>Copyright &copy; 2022 All Rights Reserved by Falcon Investments</p>
          <div>
            <a routerLink="/home">Home</a>
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/signin">Login</a>
            <a routerLink="/signup">Create Account</a>
          </div>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
